<div class="card">
  <div class="flex align-items-center mb-4">
    <button
      pButton
      class="p-button-outlined w-full sm:w-auto flex-order-0 p-button-primary mr-4"
      icon="pi pi-arrow-left"
      label="{{ 'general.back' | translate }}"
      (click)="navigateToUserList()"
    ></button>
    <span class="text-900 text-xl font-bold block">{{ 'user.create' | translate }}</span>
  </div>
  <div class="grid">
    <div class="col-12">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="grid formgrid p-fluid">
          <div class="field mb-4 col-6">
            <label for="name" class="font-medium text-900">{{ 'user.name' | translate }}</label>
            <input formControlName="name" id="name" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="id_card" class="font-medium text-900">Cédula</label>
            <input formControlName="id_card" id="id_card" type="text" pInputText pKeyFilter="int" maxlength="10" />
            <small *ngIf="userForm.get('id_card')?.invalid && userForm.get('id_card')?.touched" class="p-error block mt-1">
              Debe ingresar una cédula válida de 10 dígitos.
            </small>
          </div>
          <div class="field mb-4 col-6">
            <label for="email" class="font-medium text-900">{{ 'user.email' | translate }}</label>
            <input formControlName="email" id="email" type="email" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="password" class="font-medium text-900">{{ 'user.password' | translate }}</label>
            <p-password
              #password
              formControlName="password"
              [feedback]="false"
              [class]="getClass()"
              [toggleMask]="true"
              placeholder="{{ 'login.password' | translate }}"
            >
            </p-password>
          </div>
          <div class="field mb-4 col-6">
            <label for="role" class="font-medium text-900">{{ 'general.expiredAt' | translate }}</label>
            <p-calendar formControlName="expires_at" appendTo="body" [dateFormat]="shortLocalFormatDate" />
          </div>
          <div class="field mb-4 col-6">
            <label for="role" class="font-medium text-900">{{ 'user.role' | translate }}</label>
            <p-multiSelect
              (onChange)="changeRol($event.value)"
              [options]="roles"
              optionLabel="name"
              id="role"
              formControlName="rols"
              [placeholder]="'role.rolePlaceholder' | translate"
            >
            </p-multiSelect>
          </div>
          <div class="field mb-4 col-6">
            <label for="telephone" class="font-medium text-900">{{ 'user.telephone' | translate }}</label>
            <input pKeyFilter="int" formControlName="telephone" id="telephone" type="text" pInputText maxlength="12" />
          </div>
          <div class="field mb-4 col-6">
            <label for="address" class="font-medium text-900">{{ 'user.address' | translate }}</label>
            <input formControlName="address" id="address" type="text" pInputText />
          </div>

          <div class="field mb-4 col-6">
            <label for="modality" class="font-medium text-900">{{ 'user.modality' | translate }}</label>
            <p-dropdown
              [options]="modalities"
              optionLabel="name"
              optionValue="id"
              id="modality"
              formControlName="modality_id"
              [placeholder]="'modality.rolePlaceholder' | translate"
            >
            </p-dropdown>
          </div>
          <div class="field mb-4 col-6">
            <label for="birthdate" class="font-medium text-900">Fecha de Nacimiento</label>
            <p-calendar formControlName="birthdate" appendTo="body" [dateFormat]="shortLocalFormatDate" id="birthdate"></p-calendar>
          </div>
          <div class="field mb-4 col-6">
            <label for="employee_type" class="font-medium text-900">Tipo de Empleado</label>
            <input formControlName="employee_type" id="employee_type" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="title" class="font-medium text-900">Título</label>
            <input formControlName="title" id="title" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="senescyt_record" class="font-medium text-900">Registro Senescyt</label>
            <input formControlName="senescyt_record" id="senescyt_record" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="province" class="font-medium text-900">Provincia</label>
            <input formControlName="province" id="province" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="canton" class="font-medium text-900">Cantón</label>
            <input formControlName="canton" id="canton" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="administrative_direction" class="font-medium text-900">Dirección Administrativa</label>
            <input formControlName="administrative_direction" id="administrative_direction" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="administrative_unit" class="font-medium text-900">Unidad Administrativa</label>
            <input formControlName="administrative_unit" id="administrative_unit" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="entity_ruc" class="font-medium text-900">RUC de la Entidad</label>
            <input formControlName="entity_ruc" id="entity_ruc" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6">
            <label for="entity_name" class="font-medium text-900">Nombre de la Entidad</label>
            <input formControlName="entity_name" id="entity_name" type="text" pInputText />
          </div>
          <div class="field mb-4 col-6 flex align-items-center">
            <p-checkbox formControlName="has_electronic_signature" [binary]="true" inputId="has_electronic_signature"></p-checkbox>
            <label for="has_electronic_signature" class="font-medium text-900 ml-2">¿Tiene Firma Electrónica?</label>
          </div>

          <div class="col-12">
            <button pButton pRipple label="{{ 'user.create' | translate }}" class="w-auto mt-3"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
