<div>
  <!-- Estado de carga -->
  <div *ngIf="loading" class="flex justify-content-center p-4">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!loading">
    <a
      [routerLink]="['/project-management/projects/create']"
      routerLinkActive="text-white bg-green-700 from-purple-600 to-purple-700 dark:from-purple-700 dark:to-purple-800 lg:bg-transparent lg:text-purple-700 lg:dark:text-purple-400 lg:font-semibold"
      class="flex align-items-center gap-3 py-3 pl-4 pr-4 p-text-secondary hover:bg-green-700 hover:text-white transition-all duration-300 group"
      style="border-radius: 20px"
      role="menuitem"
    >
      <i class="ph ph-plus text-xl"></i>
      <span class="text-xl">Crear proyecto</span>
    </a>
  </div>
  <!-- Lista de proyectos -->
  <div *ngIf="!loading" class="flex flex-wrap">
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
      (click)="goToProject(project.id)"
      class="w-full sm:w-6 md:w-4 lg:w-3"
    >
    </app-project-card>

    <!-- Mensaje si no hay proyectos -->
    <div *ngIf="projects.length === 0" class="text-center w-full p-4 text-color-secondary">
      No hay proyectos disponibles
    </div>
  </div>
</div>
