<div class="card">
  <p-table
    #dt
    [value]="roles"
    [lazy]="true"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="{{'paginator.showing' | translate}} {first} {{'paginator.to' | translate}} {last} {{'paginator.of' | translate}} {totalRecords} {{'paginator.entries' | translate}}"
    (onLazyLoad)="loadRolesLazy($event)"
    [totalRecords]="totalRecords"
    [loading]="loadingTable()"
  >
    <!-- Caption con filtros y botones -->
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <div class="flex gap-2">
          <button
            pButton
            class="p-button-outlined w-full sm:w-auto p-button-secondary"
            icon="pi pi-arrow-left"
            label="{{'general.back' | translate}}"
            (click)="navigateToDashboard()">
          </button>

          <span class="p-input-icon-left w-full sm:w-20rem">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="onGlobalFilter(dt, $event)"
              placeholder="{{'paginator.search' | translate}}"
              class="w-full" />
          </span>
        </div>

        <button
          (click)="navigateToCreateRole()"
          pButton
          class="p-button-outlined w-full sm:w-auto"
          icon="pi pi-plus"
          label="{{'general.addNew' | translate}}">
        </button>
      </div>
    </ng-template>

    <!-- Header de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" class="white-space-nowrap" style="width:25%">
          {{'role.id' | translate}}
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name" class="white-space-nowrap" style="width:25%">
          {{'role.name' | translate}}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="created_at" class="white-space-nowrap" style="width:25%">
          {{'role.createdAt' | translate}}
          <p-sortIcon field="created_at"></p-sortIcon>
        </th>
        <th class="white-space-nowrap" style="width:25%">
          {{'general.activity' | translate}}
        </th>
      </tr>
    </ng-template>

    <!-- Body de la tabla -->
    <ng-template pTemplate="body" let-role>
      <tr>
        <td>{{role.id}}</td>
        <td>{{role.name}}</td>
        <td>{{role.created_at | date: 'dd/MM/yyyy'}}</td>
        <td>
          <a (click)="navigateToEditRole(role.id)"
             class="p-button-outlined p-button-rounded p-button-text p-button-sm cursor-pointer">
            <i class="pi pi-pencil"></i>
          </a>

          <p-confirmDialog
            [key]="role.id.toString()"
            [style]="{width: '450px'}"
            acceptButtonStyleClass="p-button-danger"
            rejectButtonStyleClass="p-button-text">
          </p-confirmDialog>

          <a (click)="confirmDelete(role.id)"
             class="p-button-outlined p-button-rounded p-button-text p-button-sm cursor-pointer ml-4">
            <i class="pi pi-trash text-red-500"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <!-- Empty message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4">
          {{ 'general.noRecordsFound' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
