<div
  class="layout-sidebar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  <a [routerLink]="['/']" class="app-logo">
    <div
      class="h-4rem flex flex-row align-items-center justify-content-start px-4 border-b border-gray-200 gap-3">
      <div class="w-3rem h-3rem flex align-items-center justify-content-center">
        <img
          src="assets/General/SGR.png"
          alt="Logo SmartGob"
          class="w-3rem h-3rem object-contain rounded-lg block" />
      </div>
      <p class="text-xl text-indigo-900">SmartGob</p>
    </div>

    <hr class="border-t border-gray-200 my-0" />

    <button
      class="layout-sidebar-anchor p-link"
      type="button"
      (click)="anchor()"></button>
  </a>

  <div class="layout-menu-container px-3 py-1">
    <app-menu></app-menu>
  </div>
</div>
