<div
  class="layout-sidebar w-25rem surface-section"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">

  <a [routerLink]="['/']" class="app-logo">
    <div class="flex flex-row align-items-center justify-content-start">
      <div
        class="h-5rem flex flex-row align-items-center justify-content-start px-4 border-bottom-1 surface-border gap-3">

        <div class="w-3rem h-3rem flex align-items-center justify-content-center">
          <img
            src="assets/General/SGR.png"
            alt="Logo SmartGob"
            class="w-4rem h-4rem object-contain rounded-lg block" />
        </div>

        <!-- Quitamos text-black -->
        <p class="text-color font-semibold" style="font-size:1.5rem;">
          SmartGob
        </p>
      </div>

      <!-- Icono adaptado -->
      <i class="ph ph-layout text-color-secondary ml-auto p-4"
         style="font-size:2rem;"></i>
    </div>

    <!-- Línea compatible con tema -->
    <hr class="border-top-1 surface-border my-0" />

    <button
      class="layout-sidebar-anchor p-link"
      type="button"
      (click)="anchor()">
    </button>
  </a>

  <div class="layout-menu-container px-3 py-0">
    <app-menu></app-menu>
  </div>

  <hr class="border-top-1 surface-border my-0" />
</div>
