<div class="card">
  <div class="flex flex-wrap gap-2 justify-content-end mb-4">
    <p-multiSelect
      [options]="columns"
      [(ngModel)]="selectedColumns"
      optionLabel="name"
      [maxSelectedLabels]="zero"
      [filter]="true"
      selectedItemsLabel="{{ 'general.columnsSelected' | translate }}"
      placeholder="{{ 'general.chooseColumns' | translate }}"
      (onChange)="onChangeSelectedColumns($event.value)"
    >
      <ng-template let-item pTemplate="item">
        <div>{{ item.name | translate }}</div>
      </ng-template>
    </p-multiSelect>
    <span class="p-input-icon-left w-full sm:w-20rem">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="onGlobalFilter(dt, $event)"
        placeholder="{{ 'paginator.search' | translate }}"
        class="w-full"
      />
    </span>
    <button
      (click)="navigateToCreateUser()"
      pButton
      class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
      icon="pi pi-user-plus"
      label="{{ 'general.addNew' | translate }}"
    ></button>
  </div>
  <p-table
    styleClass="p-datatable-gridlines"
    #dt
    [value]="users"
    [columns]="selectedColumns"
    [lazy]="true"
    responsiveLayout="scroll"
    [loading]="loadingTable"
    (onLazyLoad)="lazyLoad($event)"
    [sortField]="defaultSortField"
    [sortOrder]="descOrder"
    [scrollable]="true"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns; let index = index"
          [pSortableColumnDisabled]="!col.sort.show"
          [pSortableColumn]="col.sort.field"
          [class]="index === columns.length - one ? 'white-space-nowrap' : 'white-space-nowrap min-width'"
          class="text-center"
          [frozen]="col.action"
          alignFrozen="right"
          pFrozenColumn
        >
          {{ col.name | translate }}
          <p-sortIcon *ngIf="col.sort.show" [field]="col.sort.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [frozen]="col.action" alignFrozen="right" pFrozenColumn>
          <p-columnFilter *ngIf="col.filter" type="text" [field]="col.sort.field" [showMenu]="false"> </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns" let-i="rowIndex">
      <tr>
        <td *ngFor="let col of columns" [frozen]="col.action" alignFrozen="right" pFrozenColumn>
          <div *ngIf="col.index" class="text-center">
            {{ col.value }}
          </div>
          <div *ngIf="!col.action && !col.index" class="text-center">
            <ng-container *ngIf="!!col.toDate">
              {{ col.value | valueJson: data | date: col.toDate }}
            </ng-container>
            <ng-container *ngIf="!col.toDate && col.name === userRoleCol">
              {{ getRoleName(data[userRolValue]) }}
            </ng-container>
            <ng-container *ngIf="!col.toDate && col.name !== userRoleCol">
              {{ col.value | valueJson: data }}
            </ng-container>
          </div>
          <div *ngIf="col.action" class="flex justify-content-center align-items-center">
            <p-menu appendTo="body" #menu [model]="data.menu" [popup]="true"></p-menu>
            <button
              pButton
              type="button"
              (click)="getMenuItemsForItem(data); menu.toggle($event)"
              class="p-button-outlined"
              icon="pi pi-angle-down"
              label="{{ 'general.options' | translate }}"
              iconPos="right"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="selectedColumns.length">
          <div class="flex justify-content-center align-items-center">
            {{ 'paginator.empty' | translate }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [totalRecords]="paginator.total"
    [rows]="rowPerPage"
    [showCurrentPageReport]="true"
    (onPageChange)="onPage($event)"
    currentPageReportTemplate="{{ 'paginator.showing' | translate }} {{ paginator.from || zero }} {{
      'paginator.to' | translate
    }} {{ paginator.to || zero }} {{ 'paginator.of' | translate }} {{ paginator.total || zero }} {{
      'paginator.entries' | translate
    }}"
  >
  </p-paginator>
</div>
